<html>
    <head>
        <title>Reset AEON's password</title>
    </head>
    <body>

        <p id="logo">
            <a href="" style="float: right">
                <img src=<%= logourl %> />
            </a>
        </p>
              <br/><br/>