
</p>
<p id="footer">
    Kind regards,
    <br/>
    <a href="mailto:<%= aeoncontact %>">AEON Support</a><br>
    Copyright © <a href="http://atos.net/">ATOS S.A.</a> 2014
    <hr>
</p>

<p id="icons">
    <a href="<%= dashboardurl %>"><img src=<%= weblogo %>></a>
    <a href="https://twitter.com/aeon_ari"><img src=<%= twitterlogo %>></a>
</p>
</body>
</html>