


        
        <% include header %>
        
        <p id="greetings">
            Dear AEON's user,
        </p>
        <p id="email">
              We have just changed your password as you requested
            <br />
         </p>

        <% include footer %>
